.form-search{
    margin: 10px 0;
}
.gmap3{
    margin-bottom: 10px;
    border: 1px solid #C0C0C0;
    height: 300px;
    font-size:12px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#r-directions{
	display:none;
}
.sizedirection{
    background: #FFFFFF;
    margin: 10px auto;
    padding:5px;
    overflow:auto;
    font-size:12px;
	width:600px;
	height:300px;
	display:block;
}
.map_loader {
  position:relative;
  margin-top:25%;
  left: 48%;
  margin-left: -16px;
}

/**
 * jQuery UI autocomplete
 */
.ui-autocomplete {
	background-color: white;
	max-height: 250px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
	z-index:1003 !important;
	z-index:1003;
}
.ui-autocomplete-loading {
    background: white url(/plugins/gmap/img/ajax-loader.gif) right center no-repeat;
}
#map_adress img{
    max-width: inherit;
}